@media only screen and (orientation: landscape) and (min-device-width: 700px) and (max-device-width: 1199px) {
    footer {
        .foot-container {
            padding-top: 5vh;
            .top-foot {
                form {
                    label {
                        font-size: 1.1rem;
                    }
                    input {
                        height: 3.5rem;
                        font-size: 1.1rem;
                        padding-left: 4rem;
                    }
                    button {
                        left: 85%;
                        top: 53%;
                        font-size: 1.2rem;
                        max-width: 4.5rem;
                        max-height: 2.3rem;
                    }
                    span {
                        font-size: 2rem;
                        left: 3%;
                        top: 54%;
                    }
                }
                .social-media {
                    @include flex(flex, row);
                    justify-content: space-around;
                    width: $getWidth;
                    height: 7vh;
                    text-align: center;
                    margin-top: 3vh;
                    font-size: 2rem;
                }
            }
            .bottom-foot {
                @include flex();
                .references {
                    margin: 0;
                    margin-top: 3vh;
                    p {
                        width: 100%;
                        @include flex(flex);
                        justify-content: space-around;
                        font-size: 1rem;
                        line-height: 1.2rem;
                        font-weight: $fw-b;
                        margin-top: 2vh;
                    }
                }
                .copyright {
                    margin-top: 4vh;
                    margin-bottom: 3vh;
                    p {
                        text-align: center;
                        width: 100%;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
