@media only screen and (orientation: landscape) and (min-device-width: 700px) and (max-device-width: 1199px) {
    main {
        .team-section {
            @include flex();
            .head {
                margin: 0;
                img {
                    margin-top: 5vh;
                    height: 20vh;
                    width: 17vh;
                }
                h2 {
                    font-size: 2rem;
                }
                p {
                    font-size: 1.3rem;
                }
            }
            .boxes-team {
                width: $getWidth;
                @include flex();
                flex-direction: row;
                justify-content: space-around;
                flex-wrap: wrap;
                align-items: baseline;
                margin: 1vh;
                .box-team {
                    height: 22rem;
                    width: 45%;
                    min-width: 13rem;
                    max-width: 17rem;
                    margin: 0;
                    margin-bottom: 1.5rem;
                    margin-left: .4rem;
                    margin-right: .4rem;
                }
            }
        }
    }
}
