$gray-color: rgba(109, 110, 113, 255);
$light-gray-color: rgba(187, 187, 187, 255);
$blue-color: rgba(31, 170, 226, 255);
$top-header-color: #eceef4;
$and-icon-color: #bbedff;
$line-color: #edefef;
$footer-color: #2b2c2d;

$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;
$instagram: #bc2a8d;
$linkedin: #0077b5
