@media only screen and (min-device-width: 1200px) {

    main {
        width: 100%;
        .what-we-do {
            @include flex(flex, column, flex-start);
            .line {
                width: $desktopWidth;
                margin-top: 10vh;
                margin-bottom: 8vh;
            }
            .main-describe {
                width: $desktopWidth;
                height: 12vh;
                @include flex(flex, row, center);
                align-items: center;
                margin-bottom: 5vh;
                img {
                    height: 6rem;
                    width: 7rem;
                    margin-bottom: 0vh;
                }
                .desc-content {
                    margin-left: 4vh;
                    @include flex();
                    height: 1vh;
                    line-height: 2.5em;
                    h2 {
                        margin: 0;
                        align-self: flex-start;
                        font-size: 2rem;
                    }
                    p {
                        height: 10vh;
                        border-bottom: none;
                        font-size: 1rem;
                    }
                }
            }
            .specializations {
                width: $desktopWidth;
                @include flex();
                flex-direction: row;
                justify-content: space-around;
                align-items: flex-start;

                margin-bottom: 10vh;
                .left-side {
                    padding-right: 3rem;
                    border-right: 2px solid $line-color;
                }
                .left-side,
                .right-side {
                    width: 45%;
                    .can-do {
                        display: flex;
                        justify-content: space-around;
                        height: 20vh;
                        margin-bottom: 5vh;
                        img {
                            align-content: flex-start;
                            height: 4rem;
                            width: 4rem;
                        }
                        .spec-content {
                            h2 {
                                font-size: 1.2rem;
                                line-height: 1rem;
                            }
                            p {
                                font-size: 1rem;
                                text-align: justify;
                            }
                            margin-bottom: 0vh;
                        }
                        &:last-child {
                            margin: 0;
                        }
                    }
                    .mobile {
                        img {
                            margin-left: 0vh;
                            width: 3rem;
                        }
                    }
                }
            }
            .divide {
                height: 8vh;
                width: 120%;
                border-top-left-radius: 50%;
                border-top-right-radius: 50%;
                background-color: $line-color;
            }
        }
    }
}
