@media only screen and (orientation: landscape) {
    main {
        .team-section {
            .head {
                img {
                    height: 50vh;
                    width: 42vh;
                }
                .desc-content {
                    h2 {
                        text-align: center;
                        font-size: 2rem;
                    }
                    p {
                        font-size: 1.1rem;
                    }
                }

            }
            .btn {
                height: 5vh;
            }
            .boxes-team {
                width: 80%;
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                flex-wrap: wrap;
                .box-team {
                    @include flex();
                    justify-content: space-around;
                    height: 90vh;
                    width: 65vh;
                }
            }
        }
    }

}
