@media only screen and (orientation: landscape) {
    header {
        .logo-section {
            height: 15vh;
            .logo {
                a {
                    margin-top: 1vh;
                    align-self: center;
                    img {
                        width: 12vh;
                        height: 12vh;
                    }
                }
            }
        }
        .navigation {
            .fa-bars {
                top: 3vh;
                left: 5vh;
                font-size: 2rem;
            }
            nav {
                width: 40%;
                padding-top: 15vh;
                .nav-list {
                    height: 80vh;
                    li {
                        font-size: 1.2rem;
                    }
                }
            }
        }
        .welcome {
            flex-direction: column;
            .intro {
                align-self: center;
                padding-bottom: 0vh;
                h1 {
                    font-size: 2rem;
                    line-height: .8em;
                    .smaller-text {
                        font-size: 1.3rem;
                    }
                    .and-icon {
                        font-size: 3.8rem;
                    }
                }
            }
            .slider {
                .slider-items {
                    width: 17rem;
                    .slide {
                        height: 8rem;
                    }
                }
            }
        }
        .information {
            .article {
                .lamp {
                    margin-top: 10vh;
                    height: 23vh;
                    width: 21vh;
                    margin-bottom: 3vh;
                }
                .tree {
                    margin-top: 10vh;
                    height: 23vh;
                    width: 23vh;
                    margin-bottom: 3vh;
                }
                p {
                    font-size: 1.1rem;
                }
            }
        }
    }

}
