@media only screen and (min-device-width: 580px) and (orientation: portrait) {
    header {
        .logo-section {
            position: relative;
            height: 10vh;
            .logo {
                @include flex();
                a {
                    margin-top: 1vh;
                    align-self: center;
                    img {
                        width: 7vh;
                        height: 7vh;
                    }
                }
            }
        }
        .navigation {
            .fa-bars {
                top: 3vh;
                left: 3vh;
                font-size: 3rem;
            }
        }
        .welcome {
            .intro {
                h1 {

                    font-size: 3rem;
                    line-height: .9em;
                    .smaller-text {
                        font-size: 2rem;
                    }
                    .and-icon {
                        font-size: 6rem;
                        top: 1.5vh;
                    }
                }

            }
            .slider {
                .slider-items {
                    width: 35rem;
                    .slide {
                        height: 13rem;
                    }
                }
            }
        }
        .information {
            width: 100%;
            display: flex;
            align-items: baseline;
            justify-content: space-around;
            .article {
                margin: 0;
                width: 40%;
                .lamp {
                    margin-top: 10vh;
                    height: 10vh;
                    width: 9vh;
                    margin-bottom: 3vh;
                }
                .tree {
                    margin-top: 10vh;
                    height: 10vh;
                    width: 9vh;
                    margin-bottom: 3vh;
                }
                h2 {
                    font-size: 1.6rem;
                }
                p {
                    text-align: justify;
                    font-size: 1.2rem;
                }
            }
        }
    }
}
